.city {
    background-color:rgba(24, 24, 24, 0);
    margin-top: 0.5%;
}
@media (max-width: 600px) {
.city {
    display: none;
}
}
.menu-btn{
margin-bottom: 1.5%;
align-items: center;
position: absolute;
width: 30px;
height: 30px;
cursor: pointer;
z-index: 1;
padding-top: 13px;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #000000;
transition-duration: 0.25s;
}
.menu-btn > span::before {
content: '';
top: -8px;
}
.menu-btn > span::after {
content: '';
top: 8px;
}

.menubox{
border-radius: 0 30px 30px 0;
display: fixed;
visibility: none;
position: fixed;
top: 0;
left: -100%;
width: 190px;
height: 100%;
margin: 0;
padding: 40px 0;
list-style: none;
background-color: rgb(248, 245, 245);
box-shadow: 10px 0px 6px rgba(0, 0, 0, .2);
transition-duration: 0.25s;
}

.menu-item {
margin-top: 1.6em;
display: block;
color: rgb(248, 245, 245);
font-size: 20px;
font-weight: 600;
text-decoration: none;
transition-duration: 0.5s;
background-color: rgb(248, 245, 245);
}
.menu-item:hover {
background-color: rgba(0, 0, 0, 0.411);
}

#menu-toggle{
opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span{
transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
top: 0;
transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
top: 0;
transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
visibility: visible;
left: 0;
}
.pr {
padding-top:60px;
}